.tl-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tl-header {
	font-size: 2rem;
	padding: 1em 0 1em 0;
}

.tl-wrapper {
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 30px;
	row-gap: 10px;
}

.tl-grid-item {
	text-align: left;
	width: 100%;
	border: 1px solid black;
	padding: 10px;
}

.tl-input-btn {
	display: flex;
	margin: 20px 5px 10px 5px;
}

.tl-color-change {
	background-color: rgba(9, 237, 9, 0.772);
}
